@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/GeorgiaRegular/GeorgiaRegular.eot");
  src: url("../../assets/fonts/GeorgiaRegular/GeorgiaRegular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/GeorgiaRegular/GeorgiaRegular.woff") format("woff"), url("../../assets/fonts/GeorgiaRegular/GeorgiaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/ArialRegular/ArialRegular.eot");
  src: url("../../assets/fonts/ArialRegular/ArialRegular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/ArialRegular/ArialRegular.woff") format("woff"), url("../../assets/fonts/ArialRegular/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
  position: relative;
}

body.no-scroll {
  overflow: hidden;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}

h2 {
  font-family: Georgia;
  font-size: 44px;
  line-height: 130%;
  color: #545454;
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 25px;
    letter-spacing: 0.06em;
  }
}

h3 {
  font-family: Georgia;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 25px;
    line-height: 130%;
    text-align: center;
  }
}

p {
  padding-top: 25px;
  margin: 0;
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

@media screen and (max-width: 767px) {
  p {
    padding-top: 24px;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: #292929;
  transition: opacity 0.25s linear, visibility 0.25s linear;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.overlay.active {
  opacity: 0.6;
  visibility: visible;
}

.btn {
  padding: 13px 43px;
  color: #292929;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: Georgia;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.06em;
}

.btn:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.btn-fill {
  background-color: #F1CDB3;
}

.btn-border {
  background-color: #FFFFFF;
}

.header {
  width: 100%;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  width: 100%;
  transition-duration: 0.25s;
}

.header-wrapper.active {
  width: 300px;
}

@media screen and (max-width: 1023px) {
  .header-wrapper {
    padding-top: 30px;
  }
}

.header .logo {
  z-index: 11;
}

.header .logo__title {
  font-family: Georgia;
  font-size: 32px;
  line-height: 36px;
  color: #545454;
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
}

.header .logo__subtitle {
  font-family: Arial;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.3px;
  color: #292929;
  padding: 9px 0 0 4px;
}

.header__burger-menu {
  display: none;
  margin-right: 43px;
  width: 30px;
  z-index: 20;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition-duration: 0.25s;
}

.header__burger-menu.active {
  transform: rotate(90deg);
}

@media screen and (max-width: 767px) {
  .header__burger-menu {
    display: flex;
    flex-direction: column;
  }
}

.header__burger-menu span {
  width: 30px;
  height: 2px;
  background-color: #000;
}

.header__burger-menu span + span {
  margin-top: 8px;
}

@media screen and (max-width: 767px) {
  .header .nav-menu {
    position: fixed;
    width: 320px;
    top: 0;
    right: -100%;
    background: #f6f6f6;
    height: 100vh;
    height: 100vh;
    z-index: 10;
    padding-top: 250px;
    transition-duration: 0.25s;
  }
}

.header .nav-menu.active {
  right: 0;
}

.header .menu {
  display: flex;
  margin-bottom: 4px;
}

@media screen and (max-width: 767px) {
  .header .menu {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.header .menu__item {
  margin-right: 36px;
}

@media screen and (max-width: 767px) {
  .header .menu__item {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.header .menu__item:last-child {
  margin-right: 0;
}

.header .menu__link {
  font-family: Arial;
  font-size: 15px;
  line-height: 20px;
  color: #545454;
}

@media screen and (max-width: 767px) {
  .header .menu__link {
    font-size: 32px;
    line-height: 160%;
    color: #545454;
  }
}

.header .menu__link.active, .header .menu__link:hover {
  color: #292929;
  padding-bottom: 4px;
  border-bottom: 3px solid #F1CDB3;
}

.header .menu__link-not-active {
  font-family: Arial;
  font-size: 15px;
  line-height: 20px;
  color: #545454;
}

@media screen and (max-width: 767px) {
  .header .menu__link-not-active {
    font-size: 32px;
    line-height: 160%;
    color: #545454;
  }
}

.friends {
  background-color: #F6F6F6;
  padding: 80px 0 100px 0;
}

@media screen and (max-width: 1023px) {
  .friends {
    padding: 80px 0 76px 0;
  }
}

@media screen and (max-width: 767px) {
  .friends {
    padding: 42px 0;
  }
}

.friends h3 {
  text-align: center;
}

.pets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 767px) {
  .pets {
    display: block;
  }
}

.pets-wrapper {
  margin: 60px 0 30px;
  height: 930px;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .pets-wrapper {
    margin: 60px 15% 30px;
    height: 1395px;
  }
}

@media screen and (max-width: 1023px) {
  .pets-wrapper {
    margin: 30px 5% 10px;
  }
}

@media screen and (max-width: 767px) {
  .pets-wrapper {
    width: 270px;
    margin: 42px auto 12px;
  }
}

.pets-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(100% + 40px);
}

@media screen and (max-width: 1023px) {
  .pets-list {
    width: 100%;
  }
}

.pets-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 30px 0;
  margin: 0 40px 30px 0;
  width: calc(25% - 40px);
  min-width: 270px;
  background: #FAFAFA;
  border-radius: 9px;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .pets-item {
    margin: 0 20px 30px 20px;
  }
}

@media screen and (max-width: 767px) {
  .pets-item {
    margin: 0 0px 30px 0px;
  }
}

.pets-item:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets-item__title {
  font-family: Georgia;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 30px 0;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination-btn {
  font-family: Georgia;
  min-width: 52px;
  min-height: 52px;
  background: none;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #292929;
}

@media screen and (max-width: 767px) {
  .pagination-btn {
    margin: 0 5px;
  }
}

.pagination-btn:hover {
  background: #FDDCC4;
  border-color: #FDDCC4;
}

.pagination-num {
  background: #FDDCC4;
  border-color: #FDDCC4;
}

.footer {
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
  .footer-wrapper {
    justify-content: space-around;
    margin: 0px 3px;
  }
}

@media screen and (max-width: 410px) {
  .footer-wrapper {
    justify-content: center;
  }
}

.footer-contacts {
  padding-top: 57px;
  flex: 0 0 280px;
}

@media screen and (max-width: 1023px) {
  .footer-contacts {
    padding-top: 30px;
  }
}

@media screen and (max-width: 410px) {
  .footer-contacts {
    flex: 1 1 auto;
    text-align: center;
  }
}

.footer-contact {
  font-family: Georgia;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  display: inline-block;
  padding-left: 60px;
  position: relative;
}

.footer-contact:hover {
  opacity: .7;
}

.footer-contact::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.footer-email {
  margin-top: 45px;
}

.footer-email::before {
  width: 40px;
  height: 36px;
  background: url("../../assets/icons/icon-email.svg") no-repeat;
}

.footer-phone {
  margin-top: 48px;
}

.footer-phone::before {
  width: 40px;
  height: 32px;
  background: url("../../assets/icons/icon-phone.svg") no-repeat;
}

.footer-address {
  padding-top: 57px;
  flex: 0 0 302px;
}

@media screen and (max-width: 1023px) {
  .footer-address {
    padding-top: 30px;
  }
}

@media screen and (max-width: 410px) {
  .footer-address {
    flex: 1 1 auto;
    padding-top: 45px;
  }
}

.footer-address-item {
  font-family: Georgia;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  display: inline-block;
  margin-top: 33px;
  padding-left: 41px;
  position: relative;
}

@media screen and (max-width: 410px) {
  .footer-address-item {
    margin-top: 40px;
    padding-left: 39px;
  }
}

.footer-address-item:hover {
  opacity: .7;
}

.footer-address-item:last-child {
  margin-top: 37px;
}

@media screen and (max-width: 410px) {
  .footer-address-item:last-child {
    margin-top: 44px;
  }
}

.footer-address-item::before {
  content: '';
  width: 22px;
  height: 32px;
  background: url("../../assets/icons/icon-marker.svg") no-repeat;
  position: absolute;
  left: -1px;
  top: 48%;
  transform: translate(0, -50%);
}

.footer-image {
  padding-top: 40px;
  flex: 0 0 auto;
}

@media screen and (max-width: 1023px) {
  .footer-image {
    padding-top: 70px;
  }
}

@media screen and (max-width: 410px) {
  .footer-image {
    padding-top: 44px;
    text-align: center;
  }
}

@media screen and (max-width: 410px) {
  .footer-image img {
    width: 87%;
  }
}

.footer h3 {
  color: #FFFFFF;
}
