* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
  position: relative;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

h2 {
  font-family: Georgia;
  font-size: 44px;
  line-height: 130%;
  color: #545454;
}

h3 {
  font-family: Georgia;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
}

p {
  padding-top: 25px;
  margin: 0;
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

.btn {
  padding: 13px 43px;
  color: #292929;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: Georgia;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.06em;
}

.btn:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.btn-fill {
  background-color: #F1CDB3;
}

.btn-border {
  background-color: #FFFFFF;
}

.header {
  position: absolute;
  width: 100%;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

.header .logo__title {
  font-family: Georgia;
  font-size: 32px;
  line-height: 36px;
  color: #F1CDB3;
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
}

.header .logo__subtitle {
  font-family: Arial;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.3px;
  color: #FFFFFF;
  padding: 9px 0 0 4px;
}

.header .menu {
  display: flex;
  margin-bottom: 4px;
}

.header .menu__item {
  margin-right: 36px;
}

.header .menu__item:last-child {
  margin-right: 0;
}

.header .menu__link {
  font-family: Arial;
  font-size: 15px;
  line-height: 20px;
  color: #CDCDCD;
}

.header .menu__link.active, .header .menu__link:hover {
  color: #FAFAFA;
  padding-bottom: 4px;
  border-bottom: 3px solid #F1CDB3;
}

.notonly {
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding-top: 180px;
  display: flex;
  align-items: flex-end;
}

.notonly-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.notonly-left {
  flex: 0 0 460px;
  margin-top: -80px;
}

.notonly-right {
  flex: 1 1 auto;
  padding-left: 42px;
}

.notonly-right img {
  width: 100%;
}

.notonly__title {
  font-family: Georgia;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}

.notonly__text {
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  margin-top: 42px;
  margin-bottom: 40px;
}

.about {
  padding: 80px 0 100px 0;
}

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-info {
  max-width: 430px;
}

.about-image {
  padding-right: 120px;
}

.friends {
  background-color: #F6F6F6;
  padding: 80px 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.friends h3 {
  text-align: center;
}

.friends-button {
  text-align: center;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-wrapper {
  margin: 60px 0;
}

.slider-btn {
  width: 52px;
  height: 52px;
  background: none;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-btn:hover {
  background: #FDDCC4;
  border-color: #FDDCC4;
}

.slider-btn span {
  background: url("../../assets/icons/slider-arrow.svg") no-repeat;
  display: block;
  width: 14px;
  height: 6px;
}

.slider-btn-prev {
  margin-right: 8px;
}

.slider-btn-next {
  margin-left: 8px;
}

.slider-btn-next span {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.slider-list {
  display: flex;
}

.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 35px;
  width: 270px;
  background: #FAFAFA;
  border-radius: 9px;
  margin: 0 45px;
  cursor: pointer;
}

.slider-item:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.slider-item__title {
  font-family: Georgia;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 30px 0;
}

.help {
  padding: 80px 0 100px 0;
}

.help-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.help-item {
  text-align: center;
  margin: 55px 60px 0 60px;
}

.help-name {
  font-family: Georgia;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 26px;
}

.help h3 {
  text-align: center;
}

.donat {
  background: #F6F6F6;
  padding: 82px 0 100px 0;
}

.donat-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.donat-info {
  max-width: 380px;
}

.donat-image {
  padding-right: 30px;
}

.donat-card {
  margin-top: 20px;
}

.donat-card__title {
  font-family: Georgia;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donat-card__number {
  display: inline-block;
  margin-top: 20px;
  font-family: Georgia;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  padding: 10px 15px 10px 60px;
  background: #F1CDB3;
  border-radius: 9px;
  position: relative;
}

.donat-card__number::before {
  content: '';
  width: 30px;
  height: 23px;
  background: url("../../assets/icons/icon-card.svg") no-repeat;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(0, -50%);
}

.donat-card__description {
  font-family: Arial;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
  margin-top: 20px;
}
