.help {
  padding: 80px 0 100px 0;

  @media screen and(max-width:  $width-768) {
    padding: 42px 0;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5px;

    @media screen and(max-width:  $width-768) {
      justify-content: space-between;
      margin: 12px 5px 0;
    }
  }

  &-item {
    text-align: center;
    margin: 55px 60px 0;

    @media screen and(max-width:  $width-1024) {
      margin: 55px 30px 0;
      width: 170px;
    }

    @media screen and(max-width:  $width-768) {
      width: 130px;
      margin: 25px 0 0;
    }

    svg {
      @media screen and(max-width:  $width-768) {
        width: 50px;
      }
    }
  }

  &-name {
    font-family: Georgia;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 26px;

    @media screen and(max-width:  $width-768) {
      font-size: 15px;
      line-height: 110%;
      margin-top: 12px;
    }
  }

  h3 {
    text-align: center;
  }


}
