.friends {
  background-color: #F6F6F6;
  padding: 80px 0 100px 0;

  @media screen and(max-width:  $width-1024) {
    padding: 80px 0 76px 0;
  }

  @media screen and(max-width:  $width-768) {
    padding: 42px 0;
  }

  h3 {
    text-align: center;
  }
}

.pets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media screen and(max-width:  $width-768) {
    display: block;
  }
  
  &-wrapper {
    margin: 60px 0 30px;
    height: 930px;
    overflow: hidden;
    position: relative;

    @media screen and(max-width:  $width-1280) {
      margin: 60px 15% 30px;
      height: 1395px;
    }

    @media screen and(max-width:  $width-1024) {
      margin: 30px 5% 10px;
    }

    @media screen and(max-width:  $width-768) {
      width: 270px;
      margin: 42px auto 12px;
    }
  }

  &-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100% + 40px);
    position: absolute;
    top: 0;
    left: 0;

    @media screen and(max-width:  $width-1024) {
      width: 100%;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 30px 0;
    margin: 0 40px 30px 0;
    width: calc(25% - 40px);
    min-width: 270px;
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;

    @media screen and(max-width:  $width-1024) {
      margin: 0 20px 30px 20px;
    }

    @media screen and(max-width:  $width-768) {
      margin: 0 0px 30px 0px;
    }
    
    &:hover {
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    }

    &__title {
      font-family: Georgia;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.06em;
      color: #545454;
      margin: 30px 0;
    }
  }
}

.pagination {

  display: flex;
  justify-content: center;

  &-btn {
    font-family: Georgia;
    min-width: 52px;
    min-height: 52px;
    background: none;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;

    @media screen and(max-width:  $width-768) {
      margin: 0 5px;
    }

    &:hover {
      background: #FDDCC4;
      border-color: #FDDCC4;
    }
  }

  .disable-page {
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
    cursor: default;

    &:hover {
      background: none;
      border-color: #CDCDCD;
    }
  }

  &-num {
    background: #FDDCC4;
    border-color: #FDDCC4;
  }
}
