* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
  position: relative;
}

body.no-scroll {
  overflow: hidden;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;

  @media screen and(max-width:  $width-1024) {
    padding: 0 30px;
  }

  @media screen and(max-width:  $width-768) {
    padding: 0 10px;
  }
}

h2 {
  font-family: Georgia;
  font-size: 44px;
  line-height: 130%;
  color: #545454;

  @media screen and(max-width:  $width-768) {
    font-size: 25px;
    letter-spacing: 0.06em;
  }
}

h3 {
  font-family: Georgia;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;

  @media screen and(max-width:  $width-768) {
    font-size: 25px;
    line-height: 130%;
    text-align: center;
  }
}

p {
  padding-top: 25px;
  margin: 0;
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;

  @media screen and(max-width:  $width-768) {
   padding-top: 24px;
  }
}

.overlay, .overlay-modal {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: #292929;
  transition: opacity 0.25s linear, visibility 0.25s linear;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;

  &.active {
    opacity: 0.6;
    visibility: visible;
  }
}

.overlay-modal {
  z-index: 20;
}
