@font-face { 
  font-family: "Georgia";
  src: url("../../assets/fonts/GeorgiaRegular/GeorgiaRegular.eot");
  src: url("../../assets/fonts/GeorgiaRegular/GeorgiaRegular.eot?#iefix")format("embedded-opentype"),
  url("../../assets/fonts/GeorgiaRegular/GeorgiaRegular.woff") format("woff"),
  url("../../assets/fonts/GeorgiaRegular/GeorgiaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face { 
  font-family: "Arial";
  src: url("../../assets/fonts/ArialRegular/ArialRegular.eot");
  src: url("../../assets/fonts/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
  url("../../assets/fonts/ArialRegular/ArialRegular.woff") format("woff"),
  url("../../assets/fonts/ArialRegular/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
